[Desktop Entry]
Name=Helwan Tutorial
Comment=Linux Bash Lessons viewer with PyQt5 GUI
Exec=helwan-tutorial
Icon=utilities-terminal
Terminal=false
Type=Application
Categories=Education;Development;
